body {
    background-color: black;
    font-family: arial, sans-serif;
    color: white;
  }
  
  h1 {
    color: grey;
    font-family: verdana, sans-serif;
  }
  
  .maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    align-self: center;
    margin-left: 45px;
  
  }
  .seconddiv {
    margin-left: 80px;
    margin-right: 60px;
    margin-top: 30px;
  }
  
  label{
      float: left;
      clear: left;
      width: 120px;
      text-align: left;
  }
  
  input {
    float: left;
  }
  
  .amount {
    width: 147px;
  }
  
  .button {
    margin-top: 13px;
  }
  
  .span {
    margin-left: 3px;
  }